.application-tracker header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#create-application {
  background-color: black;
  border: 0.5px solid white;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 500px;
  cursor: pointer;
}

#create-application:hover {
  box-shadow: -10px 10px goldenrod;
}

#create-application:active {
  box-shadow: -10px 10px white;
}

.application-tracker {
  position: relative;
}

.application-columns {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 10px;
}

.column-container h2 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}
