.application-details {
  margin: 50px;
  border: 0.5px solid white;
  position: relative;
  min-width: 950px;
  padding-bottom: 30px;
}

.application-details header {
  margin: 50px 0 20px;
}

.application-details h1 {
  font-size: 50px;
  text-align: center;
}

.application-details a {
  font-size: 20px;
  color: rgb(0, 217, 255);
  text-decoration: underline;
  cursor: pointer;
}

.application-details a:visited {
  color: rgb(224, 25, 243);
}

.application-details #close-application {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.application-details h2 {
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #4d4d4d;
}

.application-details p {
  font-size: 20px;
}

.application-details em {
  font-weight: 800;
  width: 100%;
}

.application-details section {
  padding: 20px 40px;
}

.statuses-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.checkbox {
  border: 0.5px solid white;
  width: 30px;
  height: 30px;
}

#Upcoming-box {
  background-color: white;
}

#Submitted-box {
  background-color: #3197da;
}

#Interviewing-box {
  background-color: yellow;
}

#Rejected-box {
  background-color: rgba(255, 0, 0, 1);
}

#Offered-box {
  background-color: rgb(18, 186, 18);
}

.company-and-job-info {
  display: flex;
  flex-direction: row;
}

.company-and-job-info > div {
  width: 50%;
}

.application-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.application-dates div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.application-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.application-buttons button {
  background-color: black;
  color: white;
  border: 0.5px solid white;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
}

.application-buttons button:hover {
  box-shadow: -5px 5px goldenrod;
}

.application-buttons button:active {
  box-shadow: -5px 5px white;
}
