.application-details {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 40px;
}

.application-details a {
  font-size: 20px;
  color: rgb(0, 217, 255);
  text-decoration: underline;
  cursor: pointer;
}

.application-details a:visited {
  color: rgb(224, 25, 243);
}

.application-details p {
  font-size: 20px;
}

.application-details h2 {
  font-size: 30px;
  text-align: center;
}

.application-details header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 950px;
  margin-bottom: 10px;
}

.application-details header h1 {
  font-size: 40px;
  text-align: center;
  border: 0.5px solid white;
  padding: 30px 0px;
  width: 500px;
  box-shadow: -10px 10px goldenrod;
}

.application-details header button {
  background-color: black;
  color: white;
  border: 0.5px solid white;
  height: 40px;
  width: 150px;
  cursor: pointer;
}

.application-details header button:hover {
  box-shadow: -5px 5px goldenrod;
}

.application-details header button:active {
  box-shadow: -5px 5px white;
}

.application-details #edit-application {
  position: absolute;
  top: 5px;
  right: 15px;
}

.application-details #delete-application {
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.application-details #close-application {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 15px;
  font-size: 25px;
  padding: 10px;
  border: 0.5px solid white;
  cursor: pointer;
}

.application-status {
  border: 0.5px solid white;
  padding: 20px 20px;
  min-width: 950px;
}

.application-status h2 {
  padding-bottom: 20px;
}

.statuses-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.checkbox {
  border: 0.5px solid white;
  width: 30px;
  height: 30px;
}

#Upcoming-box {
  background-color: white;
}

#Submitted-box {
  background-color: #3197da;
}

#Interviewing-box {
  background-color: yellow;
}

#Rejected-box {
  background-color: rgba(255, 0, 0, 1);
}

#Offered-box {
  background-color: rgb(18, 186, 18);
}

.company-and-job {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 950px;
}

.company-info,
.job-info {
  min-width: 450px;
  height: 180px;
  border: 0.5px solid white;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  padding: 10px 20px;
}

.company-info div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.job-info div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.job-details,
.submission-details {
  display: flex;
  flex-direction: column;
  min-width: 950px;
  border: 0.5px solid white;
  padding: 20px;
  row-gap: 10px;
}

.application-date {
  min-width: 950px;
  border: 0.5px solid white;
  padding: 20px;
}

.application-date p {
  font-size: 24px;
  text-align: center;
}

.application-materials {
  min-width: 950px;
  border: 0.5px solid white;
  padding: 20px;
}

.application-materials div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-bottom: 10px
}
