.landing-page {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-container {
  background-color: black;
  border: 0.5px solid white;
  box-shadow: -40px 40px rgb(239, 187, 18);
  width: 560px;
  /* height: 500px; */
  padding: 40px;
}

.landing-page h1 {
  font-size: 50px;
  text-align: center;
}

.landing-page section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  row-gap: 50px;
}

.landing-page button {
  background-color: black;
  border: .5px solid white;
  color: white;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
}

.landing-page button:hover {
  box-shadow: -10px 10px rgb(239, 187, 18);
}

.landing-page button:active {
  box-shadow: -10px 10px white;
}

.landing-page-error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
