.landing-page {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-container {
    background-color: black;
    border: .5px solid white;
    box-shadow: -40px 40px rgb(176, 176, 176);
    min-width: 550px;
    min-height: 500px;
    padding: 40px;
    width: 50%;
    height: 50%;
}

.landing-page h1 {
    border-bottom: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    text-align: left;
}

.landing-page p {
    font-size: 20px;
    padding-left: 5px;
    text-align: left;
}

.landing-page section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    height: 75%
}

.landing-page button {
    background-color: #4d4d4d;
    color: white;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
}

.landing-page button:hover {
    box-shadow: -10px 10px goldenrod;
}

.landing-page-error {
    color: red;
}




